<div class="assets-table-card">
  <div class="table-header">
    <div class="header-cell asset-header">Asset</div>
    <div class="header-cell risk-header">Contextual Risk</div>
  </div>
  
  <div class="table-body">
    <div class="table-row" *ngFor="let asset of assets">
      <div class="table-cell asset-cell">
        <div class="asset-info">
          <div class="asset-icon">
            <i class="pi pi-server"></i>
          </div>
          <div class="asset-details">
            <div class="asset-name">{{ asset.name }}</div>
            <div class="asset-ip">{{ asset.ip }}</div>
          </div>
        </div>
      </div>
      <div class="table-cell risk-cell">
        <div class="risk-tag">{{ asset.riskLevel }}</div>
      </div>
    </div>
  </div>
  
  <div class="pagination-footer">
    <div class="pagination-controls">
      <i class="pi pi-chevron-left pagination-arrow"></i>
      <span class="pagination-text">Showing 1-2 of 2</span>
      <i class="pi pi-chevron-right pagination-arrow"></i>
    </div>
  </div>
</div>
