@import '../../../core/styles/variables';

.content-block {
  margin-bottom: $spacing-xl;

  &:last-child {
    margin-bottom: 0;
  }

  .green-heading {
    color: #28a745 !important;
    font-weight: 700 !important;
    margin-bottom: $spacing-md !important;
    font-size: $font-size-xl !important;
  }

  p {
    font-family: inherit;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-xs;
    line-height: $line-height-sm;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: #525D73;
    margin-bottom: 0;
  }
}
