.content-block {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  .green-heading {
    color: #28a745 !important;
    font-weight: 700 !important;
    margin-bottom: 1rem !important;
    font-size: 20px !important;
  }

  p {
    font-family: inherit;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: #525D73;
    margin-bottom: 0;
  }
}
